# importants programs

In [ ]:
print('addition of a and b is =',d)# r string
print('addition of',a,'and',b,'is=',d)
print(f'addition of {a} and {b} is ={d}')# f string
print('addition of {} and {} is {}'.format(a,b,d))# format string
print('addition of a=%f and b=%d is d=%d'%(a,b,d))# percent format string

In [ ]:
# My Questions 

a='akshay'
#for i in a(len(a)): we can not use gives error
list(range(10)) >> [1,2,3,4,5,6,7,8,9,10] it will create list. replace of list we can create tuple,set,frozenset.
for i in range(a): i=0,1,2,3,4... it works only when there is only one number in a variable. a=23 not like a=12,34
for i in range(1,a): i=1,2,3,4... it works only when there is only one number in a variable. a=123 not like a=12,34
for i in range(len(a)):  i=0,1,2,3,4,5
for i in range(1,len(a)): i=1,2,3,4,5
for i in range(0,10): i=0,1,2,3,4,5,6,7,8,9
for i in a: i=a,k,s,h,a,y
print(i) i= a,k,s,h,a,y
print a[i] i= a[0]=a, a[1]=k, a[2]=s, a[3]=h, a[4]=a, a[5]=y
print[i] i= [0],[1],[2],[3],[4],[5]
print len(i)
print len[i]

In [4]:
a="akshay"
for i in a:
    print(i)

a
k
s
h
a
y

In [2]:
a="akshay"
for i in range(len(a)):
    print(a[i])

a
k
s
h
a
y

In [13]:
a='akshay'
b=''
for i in range(len(a)):
    b=a[i]
    print(b)

a
k
s
h
a
y

In [3]:
a='akshay'
b=''
for i in a:
    b=i
    print(b)

a
k
s
h
a
y

In [1]:
a="akshay"
for i in range(0,len(a)):
    print(i)

0
1
2
3
4
5

In [4]:
a="akshay"
for i in range(len(a)):
    print([i])

[0]
[1]
[2]
[3]
[4]
[5]

In [4]:
a="akshay"
b=''
for i in range(0,len(a)):
    b=b+a[i]
    print(b)

a
ak
aks
aksh
aksha
akshay

In [5]:
a="akshay"
b=''
for i in range(len(a)):
    b=b+(a[i])
    print(b)

a
ak
aks
aksh
aksha
akshay

In [3]:
a='akshay'
b=''
for i in a:
    b=b+i
    print(b)

a
ak
aks
aksh
aksha
akshay

In [14]:
a=[1,2,3,4,56,'ram']
b=[]
for i in a:
    b.append(i)
    print(b)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 56]
[1, 2, 3, 4, 56, 'ram']

In [7]:
a=[1,2,3,4,56,'ram']
b=[]
for i in range(len(a)):
    b.append(a[i])
    print(b)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 56]
[1, 2, 3, 4, 56, 'ram']

In [6]:
a=[1,2,3,4,56,'ram']
b=[]
for i in range(len(a)):
    b.append(i)
    print(b)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]

In [8]:
a='akshay'
b=''
for i in a:
    b=b+[i]
    print(b)

TypeError: can only concatenate str (not "list") to str

In [5]:
a="akshay"
for i in a:
    print(len(i))

1
1
1
1
1
1

In [5]:
a="akshay"
for i in a:
    print(len(a))

6
6
6
6
6
6

In [6]:
a="akshay"
for i in a:
    print(len[i])

TypeError: 'builtin_function_or_method' object is not subscriptable

In [6]:
a="akshay"
for i in a:
    print(len[a])

TypeError: 'builtin_function_or_method' object is not subscriptable

In [1]:
name ='Shamal' ## Global Variable
y = 'This is a global variable' # global Variable.
def my_fun():
    x = 50 # Local variable
    y = 'This is my function.' # local Variable
    print(x)
    print(y)
    print(name)
my_fun()

50
This is my function.
Shamal

In [ ]:
Numeric : int, float, complex
Text : str
Sequence : list, tuple, range
Mapping : dict
Set : set, frozenset
boolean : bool(true and false)

In [2]:
str1='i would like to say that your awessome and clever boy so be ready with_my daddy and mummy to sya 1 my mom@ love you'

locky="ready"

if locky in str1:
    index=str1.index(locky)
    print(f'yes {locky} is present at {index}th position')
else:
    print(f'no {locky} is not present')

yes ready is present at 60th position

In [4]:
madhu='python is high level programing language'
madhusubstring='programing'
if madhusubstring in madhu:
    index=madhu.index(madhusubstring)
    print(f"right sir {madhusubstring} is available at {index}th place")
else:
    print(f"badly {madhusubstring} not available")

right sir programing is available at 21th place

In [5]:
my_love2='then what'
print('length of my_love2 is',len(my_love2))

length of my_love2 is 9

In [7]:
string='python'
if string.startswith('py'):
    print(F'yes {string} is real statement')
else:
    print(f'no {string} is not real statement')

yes python is real statement

In [9]:
d2_avA='python is easy to code read, write, and run.and it has extensive libraries'
if d2_avA.endswith('es'):
    print(F'yes {d2_avA} is real statement')
else:
    print(f'no {d2_avA} is not real statement')

yes python is easy to code read, write, and run.and it has extensive libraries is real statement

In [ ]:
+ >> addition
- >> substraction
* >> multiplication
/ >> division
% >> mod >> gives reminder ( bhagakar zalya nantarachi rahileli baki value dakhavate)
// >> floor division quoshon  (bhagakar zalya nantarachi bhag geleli value dakhavat)
** >> power  (power mhanaje ji bi value ghetali asel and techa powe jevada dila asel ghetaleli value tya 
power chya value evadi multiply karayachi eg.50**2=2500)
even  numbers >> 2,4,6,8
odd numbers >> 1,3,5,7,9

+= >> a+=1 >> a=a+1
-= >> a-=1 >> a=a-1
*= >>
/= >>
%= >>
//= >>
**== >>

and
or
not

in
not in

is
is not

== >> equal to
!= >> Not equal to
>  >> Greater than
<  >> Less than
>= >> Geater than or equal to
<= >> Less than or equal to

In [17]:
if a==b:
    print('a and b are same')
else:
    print('a and b are not same')

a and b are not same

In [16]:
if a is not b:
    print(f'{a} and {b} are not same')
else:
    print(f'{a} and {b} are same same')

78 and 87 are not same

In [15]:
a=78
b=87
if a is b:
    print('a and b are same')
else:
    print('a and b are not same')

a and b are not same

In [13]:
a='xyz'
if not a:
    print('no tell us')
else:
    print(f'yes a = {a} is there')

yes a = xyz is there

In [11]:
cc='bhai kya hal hai2 #@'
length=0
for letter in cc:
    print(length)
    length+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [12]:
cc='bhai kya hal hai2 #@'
length=1
for letter in cc:
    length+=1
    print(letter)

b
h
a
i

k
y
a

h
a
l

h
a
i
2

#
@

In [ ]:
Syntax:

if condition: #whether it is true / false.
    statement/ block of code
#####################

if condition: # whether it is true / false.
    statement1/Block of code
else:
    statement2/block of code
# if statement can not be empty.

######################

if condition1: # whether it is true / false.
    statement1/block of code
elif condition2:
    statement2
elif condition3:
    statement3
else:
    statement4

In [19]:
if a!=b:#true so it goes to dire 2nd statement
    print('a and b are not same')
else:
    print('a and b are same')

a and b are not same

In [18]:
if a==b:#false so it excecute statement 1
    print('a and b are same')
else:
    print('a annd b are not same')

a annd b are not same

In [20]:
mummy='are you doing well mom'
if 'doing'not in mummy:
    print('doing is not in mummy variable not present as a string')
else:
    print('doing is in mummy variable as a string is there')

doing is in mummy variable as a string is there

In [22]:
var1=56
var2=65
var3=int(input())
if var3>var2:
    print('greater')
elif var3<var2:
    print("lower")
else:
    print('equal')

87
greater

In [23]:
list1=[23,34,45,56,67,78]
print(list1)
if 24 not in list1:
    print("no 24 it is not in the list")
elif 24 in list1:
    print("it is in list")
else:
    print("happy birthday bhai")

[23, 34, 45, 56, 67, 78]
no 24 it is not in the list

In [24]:
print("what is your age")
age=int(input())
if age>56:
    print("your genious")
elif age<56:
    print("you are aesome")
else:
    print("rada rada")

what is your age
56
rada rada

In [25]:
math=int(input('enter the Math marks:'))
science=int(input('enter the science marks:'))
english=int(input('enter the english marks:'))
social_studies=int(input('enter the social science marks:'))

if math>80 and science>80 and english>80 and social_studies>80:
        print('You alloted for Science stream')
elif math and science<80 and english>80 and social_studies>80:
        print('You alloted for Commerce Stream')
elif math<80 and science<80 and english>80 and social_studies>80:
        print('You alloted for Humanities')
else:
    print('Your marks are too less to be alloted')

enter the Math marks:0
enter the science marks:76
enter the english marks:567
enter the social science marks:89
You alloted for Humanities

In [26]:
print('Enter Your Percentage:')
num=eval(input())
if num>90:
    print('You got \'A\' Grade')
elif num>80 and num<=90:
    print('You got \'B\' Grade')
elif num>=60 and num<=80:
    print('You got \'C\' Grade')
elif num<60:
    print('You got \'D\' Grade')

Enter Your Percentage:
87
You got 'B' Grade

In [27]:
a=6%5
if a%5==0:
    print('number is even')
else:
    print('number is odd')

number is odd

In [28]:
a=eval(input('enter the your choice number: '))
if a%2==0:
    print('a is even number:',a)
else:
    print('a is odd number:',a)

enter the your choice number: 6
a is even number: 6

In [30]:
a=eval(input('enter the your choice number: '))
if a%2==1:
    print('a is odd number:',a)
else:
    print('a is even number:',a)

enter the your choice number: 21
a is odd number: 21

In [32]:
a=eval(input('enter the no ', ))
if type(a)==float:
    print('number is float can\'t accept')
elif a==1:
    print('it is a prime number')
elif a%2==0:
    print('no is divsible by 2')
elif a%3==0:
    print('no is divisible by 3')
elif a%5==0:
    print('no is divisble by 5')
elif a%7==0:
    print('no is divisble by 7')   
else:
    print(f'no is prime number beacuse,it is divisble by 1 and itself {a}')

enter the no 47
no is prime number beacuse,it is divisble by 1 and itself 47

In [2]:
a = eval(input('Enter the number: '))

if type(a) == float:
    print(f'The number {a} is a float')
elif a<=0:
    print(f'The number {a} is less than or equal to zero')
elif a==1:
    print(f'The number {a} prime number')
else:
    for i in range(2,a):
        if a%i == 0:
            print(f'The number {a} is a not prime number')
            break
    else:
        print(f'The number {a} is a prime number')

Enter the number: 47
The number 47 is a prime number

In [1]:
l = [13,11,17,47,44,56,76,8]
notprime =[]
prime = []
for i in l:
    for j in list(range(2,i)):#it will create a list of 2,....12 like thhat
        if i%j==0:#13/2,3,4,...13
            notprime.append(i)
            break
            #l.remove(i)
    else:
        prime.append(i)
            
print(notprime)
print(prime)

[44, 56, 76, 8]
[13, 11, 17, 47]

In [9]:
range(10)

range(0, 10)

In [6]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
n = int(input('Enter how many numbers you want to enter:'))
a = float(input('Enter the number: '))
x = 0

for i in range(1,n):
    b = float(input('Enter the number: '))
    if b >= a:
        x = b
        a = b
    else:
        x = a
        
    n-=1
    
print(f'The greatest number is {x}')

Enter how many numbers you want to enter:3
Enter the number: 2
Enter the number: 3
Enter the number: 5
The greatest number is 5.0

In [34]:
perc=eval(input('percentage marks obtained '))

if perc>=70.00 and perc<=100.00: 
    print('1st class with dist')
elif perc>=60.00 and perc<70.00: 
    print('1st class')
elif perc>=50.00 and perc<60.00:
    print('2nd class')
elif perc>=40.00 and perc<50.00:
    print('3rd class')
elif perc>=00.00 and perc<40.00:
    print('fail')

percentage marks obtained 67
1st class

In [35]:
print('a is less than b')if a<b else print('a is greater than b')

a is greater than b

In [37]:
if a<30:print('right a is greater than 30')

right a is greater than 30

In [ ]:
for nested if else
if condition: #if this statement true it will go in next if statement.otherwise if statement wrong it will go direct last else.
    statement1
    if condition:
        statement2
    else:
        statement3
else:
    statement4

In [38]:
a = 60
if a>50:#true
    print('a is greater than 50')
    if a<60:#false
        print('a is either equal to 60 or greater than 60')
        if a>50:#true
            print('a is greater or than 50')
    else:
        print('a is less than 60')
elif a>50:
    print('a is less than 50')
    if a>=40:
        print('a is either equal to 40 or greater than 40')
else:
    print('a is equal to 60')

a is greater than 50
a is less than 60

In [39]:
print(list(range(0,10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
a='my name'
index=0
for i in a:
    print(i,index)
    index=index+1

m 0
y 1
  2
n 3
a 4
m 5
e 6

In [41]:
a='my name'
for i in a:
    print(a.count(i))

2
1
1
1
1
2
1

In [42]:
a='my name'
for i in a:
    print(i,len(i))

m 1
y 1
  1
n 1
a 1
m 1
e 1

In [43]:
a='my name'
for i in a:
    print(i,end=' ')

m y   n a m e

In [44]:
a='my name'
for i in range(0,len(a)):
    print(i,end=' ')

0 1 2 3 4 5 6

In [45]:
a=str(input('enter your string '))
for i in range(0,len(a)):
    print(i,end=' ')

enter your string ramadas
0 1 2 3 4 5 6

In [46]:
a=eval(input('enter your number '))
for i in range(1,a):
    print(i,end=' ')

enter your number 6
1 2 3 4 5

In [47]:
a=34,4,35,6
for i in range(len(a)):
    print(i,end=' ')

0 1 2 3

In [48]:
index=1
for letter in 'laxman':
    print(f'laxman value of {index}th position is {letter}')
    index=index+7

laxman value of 1th position is l
laxman value of 8th position is a
laxman value of 15th position is x
laxman value of 22th position is m
laxman value of 29th position is a
laxman value of 36th position is n

In [49]:
list1 = [1,4.5,2,3,5.1,6,2.2,4.3,7,8]
even_number=[]
odd_number=[]
for i in list1:
    if i%2==0:
        even_number.append(i)
    else:
        odd_number.append(i)
print(f'even number: {even_number}')
print('odd number:',odd_number)

even number: [2, 6, 8]
odd number: [1, 4.5, 3, 5.1, 2.2, 4.3, 7]

In [50]:
int_list=[]
float_list=[]
for i in list1:
    if type(i)==int:
        int_list.append(i)
    else:
        float_list.append(i)
print('list of integer is',int_list)
print('list of float is',float_list)

list of integer is [1, 2, 3, 6, 7, 8]
list of float is [4.5, 5.1, 2.2, 4.3]

In [51]:
list=[12,-32,5,45,-5,-45,-76,7]
positive_list=[]
negative_list=[]
for i in list:
    if i>=0:
        positive_list.append(i)
    else:
        negative_list.append(i)
print('list of positive is',positive_list)
print('list of negative is',negative_list)

list of positive is [12, 5, 45, 7]
list of negative is [-32, -5, -45, -76]

In [53]:
st = input('Enter the string: ')
vowels = 0
consonants = 0
digit = 0
space = 0

for i in st:
    if (i =='a' or i =='e' or i =='i' or i =='o' or i =='u'or i =='A' or i =='E' or i =='I' or i =='O' or i =='U'):
        vowels = vowels+1
    elif((ord(i)>=97 and ord(i)<=123)):
        consonants = consonants+1
        
    elif i.isdigit():
        digit = digit + 1
    else:
        if (i.isspace() == True):
            space = space + 1
              
        
        
        
print(vowels)
print(consonants)
print(digit)
print(space)

Enter the string: ra md as34 5$gg%
2
6
3
3

In [54]:
print('list before',list1)
j=len(list1)
print(j)
for i in range(0,j): # range(0,7), 0,1,2,3,4,5,6
    list1.pop()
    print('list after',list1)

list before [1, 4.5, 2, 3, 5.1, 6, 2.2, 4.3, 7, 8]
10
list after [1, 4.5, 2, 3, 5.1, 6, 2.2, 4.3, 7]
list after [1, 4.5, 2, 3, 5.1, 6, 2.2, 4.3]
list after [1, 4.5, 2, 3, 5.1, 6, 2.2]
list after [1, 4.5, 2, 3, 5.1, 6]
list after [1, 4.5, 2, 3, 5.1]
list after [1, 4.5, 2, 3]
list after [1, 4.5, 2]
list after [1, 4.5]
list after [1]
list after []

In [55]:
a='dynamically typed'
for i in a:
    print(i,a.count(i))

d 2
y 3
n 1
a 2
m 1
i 1
c 1
a 2
l 2
l 2
y 3
  1
t 1
y 3
p 1
e 1
d 2

In [56]:
list2 = [2,5,'Python','Data Science',10,25,4,30]
for i in list2:# [5,'Python','Data Science',10,25,4,30], [5,'Data Science',10,25,4,30], [5,'Data Science',25,4,30],[5,'Data Science',25,30]
    #print(i)
    list2.remove(i)
    print('list updated',list2)

list updated [5, 'Python', 'Data Science', 10, 25, 4, 30]
list updated [5, 'Data Science', 10, 25, 4, 30]
list updated [5, 'Data Science', 25, 4, 30]
list updated [5, 'Data Science', 25, 30]

In [57]:
list1 = [4,5,7,8,2,1,9,0]
min1=list1[0]
for i in list1:
 #   print(i)
    if i<min1:
        min1=i
    print(min1)

4
4
4
4
2
1
1
0

In [58]:
list1=[1,3,5,4,2] # [10,30,50,40,20]
list2=[]
for i in list1:
    list2.append(i*10)
    print(list2)

[10]
[10, 30]
[10, 30, 50]
[10, 30, 50, 40]
[10, 30, 50, 40, 20]

In [59]:
[i for i in list1]  #[result   for loop  if statement]

[1, 3, 5, 4, 2]

In [60]:
[i*10 for i in list1]

[10, 30, 50, 40, 20]

In [61]:
list1=[1,3,5,4,2,3]
list2=[]
for i in list1:
    if i%2==0:
        list2.append(i)
        print(list2)

[4]
[4, 2]

In [62]:
[i for i in list1 if i%2==0]

[4, 2]

In [63]:
Nested list is nothing but a list or lists inside or within another list.
for eg. [2,3,[3,4,[3,4,5,]5,6,],4,5,6,6] its total length is >> 7

SyntaxError: invalid syntax (1621806743.py, line 1)

In [ ]:
Syntax:
    for element in sequence:
        print(element)
        statement1
        statement2

In [ ]:
Syntax:
    for index, element in enumerate(sequence):
        print(element)
        print(index)
        print(index, element)
        statement1
        statement2

In [64]:
re="robotics"
for letter in re:
    print(letter)

r
o
b
o
t
i
c
s

In [65]:
re='robotics'
for letter in re:
    print(re)

robotics
robotics
robotics
robotics
robotics
robotics
robotics
robotics

In [66]:
re='robotics'
for i in 'robotics':
    print('ugly')

ugly
ugly
ugly
ugly
ugly
ugly
ugly
ugly

In [67]:
list=[2,3,4,5,34,2,4,56,76,-6,0.5]
for i in list:
    print(i*10)

20
30
40
50
340
20
40
560
760
-60
5.0

In [68]:
list2='monday','tuesday','wednessday','thursday','friday','saturday','sunday'
for day in list2:
    print(day,len(day))

monday 6
tuesday 7
wednessday 10
thursday 8
friday 6
saturday 8
sunday 6

In [69]:
i=range(20)
for j in i:
    print(j)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [70]:
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
range(5) = range(0,5) = range(0,5,1) # all are same

In [71]:
[i for i in range(0,21,2)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [72]:
[i for i in range(1,21,2)]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [73]:
[i for i in range(3,34,2)]

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33]

In [74]:
even_list=[]
for i in range(0,21,2):
    even_list.append(i)
    print(even_list)

[0]
[0, 2]
[0, 2, 4]
[0, 2, 4, 6]
[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8, 10]
[0, 2, 4, 6, 8, 10, 12]
[0, 2, 4, 6, 8, 10, 12, 14]
[0, 2, 4, 6, 8, 10, 12, 14, 16]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [75]:
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
odd_list=[]
for i in list1:
    if i%2==1:
        odd_list.append(i)
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [76]:
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
even_list=[]
for i in list1:
    if i%2==0:
        even_list.append(i)
print(even_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [77]:
even_list=[]
for i in range(0,21,2):
#   print(i)
    print()
    print('iteration number is',i)
    even_list.append(i)
    print(even_list)

iteration number is 0
[0]

iteration number is 2
[0, 2]

iteration number is 4
[0, 2, 4]

iteration number is 6
[0, 2, 4, 6]

iteration number is 8
[0, 2, 4, 6, 8]

iteration number is 10
[0, 2, 4, 6, 8, 10]

iteration number is 12
[0, 2, 4, 6, 8, 10, 12]

iteration number is 14
[0, 2, 4, 6, 8, 10, 12, 14]

iteration number is 16
[0, 2, 4, 6, 8, 10, 12, 14, 16]

iteration number is 18
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

iteration number is 20
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [78]:
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
odd_list=[]
even_list=[]
for i in list1:
    if i%2==0:
        even_list.append(i)
    else:
        odd_list.append(i)
print('even_list',even_list)
print('odd_list',odd_list)

even_list [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
odd_list [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [80]:
a=int(input('enter your number'))
even_list=[]
odd_list=[]
for i in range(0,a):
    if i%2==0:
        even_list.append(i)
    else:
        odd_list.append(i)
print('even_list',even_list)
print('odd_list',odd_list)

enter your number45
even_list [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44]
odd_list [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43]

In [81]:
a=int(input('enter your number'))
even_list=[]
odd_list=[]
for i in range(0,a):
    if i%2==0:
        even_list.append(i)
    else:
        odd_list.append(i)
print('even_list',even_list)
print('odd_list',odd_list)

enter your number54,67,89,54

ValueError: invalid literal for int() with base 10: '54,67,89,54'

In [82]:
for i in range(5):# 0,1,2,3,4
    print(f'Iteration no. is {i+1}')
    print('We are learning Python')
    print('We are in for loop')
    print()

Iteration no. is 1
We are learning Python
We are in for loop

Iteration no. is 2
We are learning Python
We are in for loop

Iteration no. is 3
We are learning Python
We are in for loop

Iteration no. is 4
We are learning Python
We are in for loop

Iteration no. is 5
We are learning Python
We are in for loop

In [83]:
str2='ramdas'
for index,element in enumerate(str2):
    print(index,element)

0 r
1 a
2 m
3 d
4 a
5 s

In [84]:
list2 = [1,2,1,3,1,4,3,4]

dup=[]# the elements which are getting repeat in our list
new=[]
for i in list2:
    if i not in new:
        new.append(i)
    else:
        dup.append(i)
print("Unique is:",new)
print("Unique is:",dup)

Unique is: [1, 2, 3, 4]
Unique is: [1, 1, 3, 4]

In [85]:
for i in list2:
    print(i) # print before has taken so its showing 5.3 beacuse first it is printing and then its compare and
                                         #at certain point condition matches its breaking the loop at that printed value
    if i == 5.3:
        break

1
2
1
3
1
4
3
4

In [86]:
for i in list2:
    if i==5.3:
        break
    print(i) # print after has taken so its not showing 5.3 beacuse first it is compare and then printing
                                         #at certain point condition matches its breaking the loop at that printed value

1
2
1
3
1
4
3
4

In [87]:
for i in range(len(list2)):
    list2.append(1)
    print(list2)

[1, 2, 1, 3, 1, 4, 3, 4, 1]
[1, 2, 1, 3, 1, 4, 3, 4, 1, 1]
[1, 2, 1, 3, 1, 4, 3, 4, 1, 1, 1]
[1, 2, 1, 3, 1, 4, 3, 4, 1, 1, 1, 1]
[1, 2, 1, 3, 1, 4, 3, 4, 1, 1, 1, 1, 1]
[1, 2, 1, 3, 1, 4, 3, 4, 1, 1, 1, 1, 1, 1]
[1, 2, 1, 3, 1, 4, 3, 4, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 1, 3, 1, 4, 3, 4, 1, 1, 1, 1, 1, 1, 1, 1]

In [90]:
list2 = [2.5,2,1,5.3,'Python',6, 'Velocity']
for i in list2:
    if i==5.3:
        continue
    print(i)

2.5
2
1
Python
6
Velocity

In [91]:
for i in list2:
    print(i)
    if i==5.3:
        continue

2.5
2
1
5.3
Python
6
Velocity

In [92]:
for i in range(10):
    if i%2==0:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [93]:
for i in range(10):
    if i%2==0:
        pass
    else:
        print(i, end=' ')

1 3 5 7 9

In [94]:
for i in range(5):
    if i==3:
        print(F'yes i ={i} is not printing')
        continue
    print(i)

0
1
2
yes i =3 is not printing
4

In [95]:
for i in range(25):
    if i%2==0 or i%5==0:
        print(f'yes i iscompletely divisible my {2},or {5}')
        continue
    print(i)

yes i iscompletely divisible my 2,or 5
1
yes i iscompletely divisible my 2,or 5
3
yes i iscompletely divisible my 2,or 5
yes i iscompletely divisible my 2,or 5
yes i iscompletely divisible my 2,or 5
7
yes i iscompletely divisible my 2,or 5
9
yes i iscompletely divisible my 2,or 5
11
yes i iscompletely divisible my 2,or 5
13
yes i iscompletely divisible my 2,or 5
yes i iscompletely divisible my 2,or 5
yes i iscompletely divisible my 2,or 5
17
yes i iscompletely divisible my 2,or 5
19
yes i iscompletely divisible my 2,or 5
21
yes i iscompletely divisible my 2,or 5
23
yes i iscompletely divisible my 2,or 5

In [96]:
for i in range(5):
    print(f'i = {i}')
    print('loop is completed')

i = 0
loop is completed
i = 1
loop is completed
i = 2
loop is completed
i = 3
loop is completed
i = 4
loop is completed

In [97]:
for i in range(5):
    print(f'i = {i}')
print('loop is completed')

i = 0
i = 1
i = 2
i = 3
i = 4
loop is completed

In [98]:
for i in range(5):
    if i==3:
        break
    print(i)
else:
    print('loop is completed')

0
1
2

In [99]:
for i in range(1,5):
    if i==3:
        continue
    print(f' i={i}')
else:
    print('loop has completed')

 i=1
 i=2
 i=4
loop has completed

In [100]:
fact=1
for i in range(1,6):
    fact*=i
print(fact)

120

In [101]:
fact=1
for i in range(1,6):
    fact*=i
    print(fact)

1
2
6
24
120

In [103]:
a=int(input('enter your number programer ',))
b=1
c=[]
for i in range(1,a+1):
    b*=i# b=b*i same meaning
    c.append(b)
    print("list of factorial number is",c)

enter your number programer 6
list of factorial number is [1]
list of factorial number is [1, 2]
list of factorial number is [1, 2, 6]
list of factorial number is [1, 2, 6, 24]
list of factorial number is [1, 2, 6, 24, 120]
list of factorial number is [1, 2, 6, 24, 120, 720]

In [104]:
num = int(input('Enter any integer value for which you want to the factorial: '))
fact = 1
if num == 0:
    print('Factorial is 1')
elif num < 0:
    print('No Factorial')
else:
    for i in range(1,num+1):
        fact=fact*i
    print(f'factorial of number  is',fact)

Enter any integer value for which you want to the factorial: 8
factorial of number  is 40320

In [1]:
n = int(input('Enter the length of fibonacci series: ')) # 6 >>0 1 1 2 3 5
first = 0 # 1, 1, 2, 3
second = 1 # 1, 2, 3, 5
print(f'Fibonacci Series is :\n', first, '\n', second)
for i in range(0,n):# range(0,4), 0,1,2,3
    new = first + second #0+1, 1+1, 1+2, 2+3
    first = second #1,1,2,3
    second = new #1,2,3,5
    print(new)

Enter the length of fibonacci series: 12
Fibonacci Series is :
 0
 1
1
2
3
5
8
13
21
34
55
89
144
233

In [4]:
for i in range(3):
    print(f'i=={i}')
    print()
    for i in range(2):
        print(f' this is second loop')
        print()
        for z in range(3):
            print('this is third loop')
            print('the end')

i==0

 this is second loop

this is third loop
the end
this is third loop
the end
this is third loop
the end
 this is second loop

this is third loop
the end
this is third loop
the end
this is third loop
the end
i==1

 this is second loop

this is third loop
the end
this is third loop
the end
this is third loop
the end
 this is second loop

this is third loop
the end
this is third loop
the end
this is third loop
the end
i==2

 this is second loop

this is third loop
the end
this is third loop
the end
this is third loop
the end
 this is second loop

this is third loop
the end
this is third loop
the end
this is third loop
the end

In [5]:
for i in range(2): # It decides our rows >>0,1
    for j in range(3): # It decides our column >> 0,1,2
        print('*', end=' ')
    print()

* * *
* * *

In [6]:
for i in range(1,6):
    for j in range(i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [7]:
for i in range(1,6):
    for j in range(6-i):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [8]:
i = 0
while i < 5: # i<5 is our condition
    print(i) # block of code
    i = i+1  # increment

0
1
2
3
4

In [9]:
i=1
while i<5:
    i=i+1
    print(i)

2
3
4
5

In [10]:
i=0
while i<5:
    print('we are in while loop')
    i=i+1

we are in while loop
we are in while loop
we are in while loop
we are in while loop
we are in while loop

In [11]:
i=4
while i >=0: # 4>=0,3>=0,2>=0,1>=0 true, 0>=0 it is false
    print('in loop')
    i=i-1

in loop
in loop
in loop
in loop
in loop

In [12]:
a=[23,45,67,23]
l=len(a)
while l>0:
    print(a[l-1]) # 3-1,2-1,1-1
    l=l-1 #4-1,3-1,2-1,

23
67
45
23

In [13]:
a=1 # increment
b=1 # result
while a<11:# 1,2,3,4,5,6,7,8,9,10
    b=b*a# 1*1,1*2,2*3,.......
    a=a+1
print(b)

3628800

In [14]:
fact = 1
a = 0
while a<5:
    a = a+1
    fact = fact * a
print('fact', fact)

fact 120

In [15]:
i=0
while i<5:
    print(i)
    i=i+1
else:
    print('loop is completed')

0
1
2
3
4
loop is completed

In [1]:
dict2 = {'name':'Arti', 'age':24, 'Marks':95, 'Place':'Pune'}
dict2

{'name': 'Arti', 'age': 24, 'Marks': 95, 'Place': 'Pune'}

In [2]:
for i in dict2.items():
    print(i)

('name', 'Arti')
('age', 24)
('Marks', 95)
('Place', 'Pune')

In [4]:
list1 = dict2.items()
list1

dict_items([('name', 'Arti'), ('age', 24), ('Marks', 95), ('Place', 'Pune')])

In [6]:
for k,m in list1:
    print(k,':', m)

name : Arti
age : 24
Marks : 95
Place : Pune

In [7]:
for key in dict2.keys():
    print(key)

name
age
Marks
Place

In [8]:
for values in dict2.values():
    print(values)

Arti
24
95
Pune

In [9]:
for items in dict2.items():
    print(items)

('name', 'Arti')
('age', 24)
('Marks', 95)
('Place', 'Pune')

In [10]:
list1=['ram','sham','ganesh','ramesh','akshay']
list2=[23,43,56,54,67]
for i,element in enumerate(list1):
    dict2={}
    dict2[element]=list2[i]
    print(dict2)

{'ram': 23}
{'sham': 43}
{'ganesh': 56}
{'ramesh': 54}
{'akshay': 67}

In [11]:
list1=['ram','sham','ganesh','ramesh','akshay']
list2=[23,43,56,54,67]
dict1={}
for i, name in enumerate(list1):
    dict1.update({name:list2[i]})
print(dict1)

{'ram': 23, 'sham': 43, 'ganesh': 56, 'ramesh': 54, 'akshay': 67}

In [12]:
name = ['Ayesha', 'Akash','Ayub','Abhijit']
dict4 = {}
# {'Ayesha': 95, 'Akash': 95, 'Ayub': 95, 'Abhijit': 95}
for i in name:
    dict4[i]=95
    print(dict4)

{'Ayesha': 95}
{'Ayesha': 95, 'Akash': 95}
{'Ayesha': 95, 'Akash': 95, 'Ayub': 95}
{'Ayesha': 95, 'Akash': 95, 'Ayub': 95, 'Abhijit': 95}

In [13]:
name = ['Ayesha', 'Akash','Ayub','Abhijit']
dict4 = {}
for i in name:
    dict4.update({i:95})
print(dict4)

{'Ayesha': 95, 'Akash': 95, 'Ayub': 95, 'Abhijit': 95}

In [14]:
#dict3 = {1:1,2:8,...,10:1000}
#dict4 = {1:1,2:4,....,10:100}
dict1={}
dict2={}
for i in range(1,11):# 1,2,3,.....,10
    dict1[i]=i*i # dict1[1] = 1*1
    dict2[i]=i*i*i # dict2[1]= 1*1*1
print(dict1)
print(dict2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [15]:
dict1 = {}
for i in  range(1,11):
    dict1.update({i:i**2})
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [16]:
dict1 = {}
for i in  range(1,11):
    dict1.update({i:i*i})
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [17]:
dict1 = {}
for i in  range(1,11):
    dict1.update({i:i*i*i})
print(dict1)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [18]:
dict1 = {}
for i in  range(1,11):
    dict1.update({i:i**3})
print(dict1)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [19]:
dic={}
for i in range(1,11):
    b=i*i*i
    dic[i]=b
print(dic)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [20]:
string = '''machine learning is a field of inquiry devoted to understanding and building 
methods that 'learn', that is, methods that leverage data to improve performance on some set of tasks. 
It is seen as a part of artificial intelllst1igence. We are learning machine learning '''
lst1=string.split()
dict1={}
for i in lst1:
    dict1.update({i:lst1.count(i)})
lst1=' '.join(lst1)
print(dict1)

{'machine': 2, 'learning': 3, 'is': 2, 'a': 2, 'field': 1, 'of': 3, 'inquiry': 1, 'devoted': 1, 'to': 2, 'understanding': 1, 'and': 1, 'building': 1, 'methods': 2, 'that': 3, "'learn',": 1, 'is,': 1, 'leverage': 1, 'data': 1, 'improve': 1, 'performance': 1, 'on': 1, 'some': 1, 'set': 1, 'tasks.': 1, 'It': 1, 'seen': 1, 'as': 1, 'part': 1, 'artificial': 1, 'intelllst1igence.': 1, 'We': 1, 'are': 1}

In [21]:
lst1=string.split()
dict1={}
for i in lst1:
    dict1.update({i:lst1.count(i)})
print(dict1)

{'machine': 2, 'learning': 3, 'is': 2, 'a': 2, 'field': 1, 'of': 3, 'inquiry': 1, 'devoted': 1, 'to': 2, 'understanding': 1, 'and': 1, 'building': 1, 'methods': 2, 'that': 3, "'learn',": 1, 'is,': 1, 'leverage': 1, 'data': 1, 'improve': 1, 'performance': 1, 'on': 1, 'some': 1, 'set': 1, 'tasks.': 1, 'It': 1, 'seen': 1, 'as': 1, 'part': 1, 'artificial': 1, 'intelllst1igence.': 1, 'We': 1, 'are': 1}

In [22]:
sub_marks = {'Math':95, 'Phy':80, 'Che':85, 'Bio':90, 'Eng':84}
result = {}
sub_marks.keys()
sorted(sub_marks.keys())
for i in sorted(sub_marks.keys()):
    result.update({i :sub_marks[i]})
    print(result)

{'Bio': 90}
{'Bio': 90, 'Che': 85}
{'Bio': 90, 'Che': 85, 'Eng': 84}
{'Bio': 90, 'Che': 85, 'Eng': 84, 'Math': 95}
{'Bio': 90, 'Che': 85, 'Eng': 84, 'Math': 95, 'Phy': 80}

In [23]:
dict2 = {'name':'Arti', 'age':24, 'marks':95, 'place':'Pune'}
dict3={}
dict2.keys()
a=sorted(dict2.keys())
for i in a:
    dict3.update({i:dict2[i]})
print(dict3)

{'age': 24, 'marks': 95, 'name': 'Arti', 'place': 'Pune'}

In [24]:
sub_marks = {'Math':95, 'Phy':80, 'Che':85, 'Bio':90, 'Eng':84}
Result = {}
for marks in sorted(sub_marks.values()): #[80, 84, 85, 90, 95]
    for sub in sub_marks:
        if marks == sub_marks[sub]: # 80 == 95, 80 == 80
            Result.update({sub : marks})
print(Result)

{'Phy': 80, 'Eng': 84, 'Che': 85, 'Bio': 90, 'Math': 95}

In [25]:
dict2 = {'name':-2, 'age':24, 'marks':95, 'place':0.5}
dict3={}
dict2.values()
b=sorted(dict2.values())
for i in b:
    for j in dict2:
        if i==dict2[j]:
            dict3.update({j:i})
print(dict3)

{'name': -2, 'place': 0.5, 'age': 24, 'marks': 95}

In [26]:
dict1 = {}

for i in range(65,91):
    dict1.update({chr(i):i}) # {chr(65):65} {'A':65}

print(dict1)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

In [27]:
dict2={}
for i in range(97,123):
    dict2.update({chr(i):i})
print(dict2)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [1]:
l1=['shrikant']
l2=' '.join(l1)
a=[]
for i in range(len(l2)):
    a.append(l2[i])
print(a)

['s', 'h', 'r', 'i', 'k', 'a', 'n', 't']

In [1]:
l1=['Akshay',"Gajanan"]
l2=[25,53]
l3=['Latur','Pune']
a= list(zip(l1,l2,l3))
print(a)

[('Akshay', 25, 'Latur'), ('Gajanan', 53, 'Pune')]