In [1]:
# 5. Sorting

In [3]:
lst=[3,4,73,45,5,64,33]
lst.sort()  # ascending order
lst

[3, 4, 5, 33, 45, 64, 73]

In [7]:
lst=[3,4,73,45,5,64,33]
print("=======>",id(lst))
lst.sort(reverse=True)  # descending order
lst
print("##########>",id(lst))

=======> 2876347653440
##########> 2876347653440

In [5]:
#sorted
lst=[3,4,73,45,5,64,33]
lst1=sorted(lst)
lst1

[3, 4, 5, 33, 45, 64, 73]

In [8]:
#sorted
lst=[3,4,73,45,5,64,33]
print("=======>",id(lst))
lst1=sorted(lst,reverse=True)
lst1
print("##########>",id(lst1))

=======> 2876347898944
##########> 2876347851328

In [14]:
# reverse
lst=[3,4,73,45,5,64,33]
print("before",lst)
print(id(lst))
lst.reverse()
print(id(lst))
lst

before [3, 4, 73, 45, 5, 64, 33]
2876349660992
2876349660992

[33, 64, 5, 45, 73, 4, 3]

In [15]:
lst[::-1]

[3, 4, 73, 45, 5, 64, 33]

In [18]:
lst=[3,4,73,45,5,64,33]
value=int(input("enter number : "))
if value in lst:
    print("Index ",lst.index(value))
else:
    print("value not foiund")

enter number :  77

value not foiund

In [19]:
lst=[3,4,73,45,5,64,33,5]
lst.count(5)

2

In [20]:
lst=[3,4,73,45,5,64,33,5]
sum(lst)

232

In [2]:
lst=[3,4,73,45,5,64,33,5]
sum1=0
for i in lst:
    sum1+=i
print(sum1)

232

In [22]:
# list Comprehension
lst=[2,3,4,5,6]
new_lst=[i for i in lst if i%2==0]
new_lst

[2, 4, 6]

In [23]:
lst=[2,3,4,5,6]
new_lst=[i for i in lst if i%2!=0]
new_lst

[3, 5]

In [24]:
lst=[2,3,4,5,6]
new_lst=[i*i for i in lst]
new_lst

[4, 9, 16, 25, 36]

In [27]:
lst=[2,3,4,5,6]
count=-1
new_lst=[]
for i in lst:
    new_lst.append(lst[count])
    count-=1
print(new_lst)

[6, 5, 4, 3, 2]

In [4]:
lst=[2,3,4,5,6]
lst1=[lst[i] for i in range(len(lst)-1,-1,-1)]
lst1

[6, 5, 4, 3, 2]

In [31]:
lst1=[2,3,4,5,6]
new_lst1=[]
for i in range(len(lst1)):
    new_lst1.append(lst1.pop())
print(new_lst1)

[6, 5, 4, 3, 2]

In [35]:
# check longest valid paranthesis

# Given a string containing just the characters '(' and ')', return the length of the longest valid (well-formed) parentheses 
# substring.
# Example 1:
# ==========
# Input: s = "(()"
# Output: 2
# Explanation: The longest valid parentheses substring is "()".
# Example 2:
# ==========
# Input: s = ")()())"
# Output: 4
# Explanation: The longest valid parentheses substring is "()()".
# Example 3:
# =========
# Input: s = ""
# Output: 0


def longest_valid_paranthesis(s):
    lst=list(s)
    index1=[]
    for i in range(int(len(lst)/2)):
        if lst[0]=="(":
            index1.append(lst.index("("))
            break
        else:
            lst.remove(lst[0])
    for i in range(int(len(lst)/2)):
        if lst[-1]==")":
            index1.append(len(lst))
            break
        else:
            lst.remove(lst[-1])
    if len(s)==0:
        print(0)
    else:
        print(len(lst)-1)
 


s=")()())"
longest_valid_paranthesis(s)

4

In [36]:
s = "(()"
longest_valid_paranthesis(s)

2

In [37]:
s = ""
longest_valid_paranthesis(s)

0

In [42]:
# str1 = ")()()()()()()()()()())))((()()()()()((()))))"
str1 = ""
# str1=")()())"
count = 0
for i,j in enumerate(str1):
    if j == "(" and str1[i+1] == ")":
        count+=2
print(count)

0

In [39]:
s = ")()()()()()()()()()())))((()()()()()((()))))"
longest_valid_paranthesis(s)

42

In [11]:
# python program for trigram
str1="""ISRO Chandrayaan 3 Moon Landing Live Updates: Isro’s third lunar mission 
Chandrayaan-3 made a soft-landing on the Moon on Wednesday. With this, 
India joined the short list of countries in the world to 
land a rover on the Moon."""

lst=[]
lst1=str1.split()
a=len(lst1)
print(a)
for i in range(len(lst1)-2):
    lst.append(lst1[i]+" "+lst1[i+1]+" "+lst1[i+2])
print(lst)

39
['ISRO Chandrayaan 3', 'Chandrayaan 3 Moon', '3 Moon Landing', 'Moon Landing Live', 'Landing Live Updates:', 'Live Updates: Isro’s', 'Updates: Isro’s third', 'Isro’s third lunar', 'third lunar mission', 'lunar mission Chandrayaan-3', 'mission Chandrayaan-3 made', 'Chandrayaan-3 made a', 'made a soft-landing', 'a soft-landing on', 'soft-landing on the', 'on the Moon', 'the Moon on', 'Moon on Wednesday.', 'on Wednesday. With', 'Wednesday. With this,', 'With this, India', 'this, India joined', 'India joined the', 'joined the short', 'the short list', 'short list of', 'list of countries', 'of countries in', 'countries in the', 'in the world', 'the world to', 'world to land', 'to land a', 'land a rover', 'a rover on', 'rover on the', 'on the Moon.']

In [10]:
str1="""ISRO Chandrayaan 3 Moon Landing Live Updates: Isro’s third lunar mission 
Chandrayaan-3 made a soft-landing on the Moon on Wednesday. With this, 
India joined the short list of countries in the world to 
land a rover on the Moon."""

def tri_gram(str1):
    
    a=str1.split()
    lst=[]
    for i in range(len(a)):
        if len(a)>=3:
            lst.append(' '.join(a[:3]))
            a.pop(0)
    print(lst)
            
tri_gram(str1)

['ISRO Chandrayaan 3', 'Chandrayaan 3 Moon', '3 Moon Landing', 'Moon Landing Live', 'Landing Live Updates:', 'Live Updates: Isro’s', 'Updates: Isro’s third', 'Isro’s third lunar', 'third lunar mission', 'lunar mission Chandrayaan-3', 'mission Chandrayaan-3 made', 'Chandrayaan-3 made a', 'made a soft-landing', 'a soft-landing on', 'soft-landing on the', 'on the Moon', 'the Moon on', 'Moon on Wednesday.', 'on Wednesday. With', 'Wednesday. With this,', 'With this, India', 'this, India joined', 'India joined the', 'joined the short', 'the short list', 'short list of', 'list of countries', 'of countries in', 'countries in the', 'in the world', 'the world to', 'world to land', 'to land a', 'land a rover', 'a rover on', 'rover on the', 'on the Moon.']

In [21]:
# find highest number without max and sorted function
def highest_number(lst):
    a1 = float("-inf") 
    a2 = float("-inf") 
    
    for num in lst:
        if num>a1: #3  
            a2=a1 #- infy
            a1=num #3
    print("Heighest number ",a1)

lst=[3,4,73,45,5,64,33,5]
highest_number(lst)

Heighest number  73

In [15]:
def second_highest_number(lst):
    a1 = float("-inf") 
    a2 = float("-inf") 
    
    for num in lst:
        if num > a1:
            a2 = a1
            a1 = num
        elif num > a2:
            a2 = num
            
    return a2

lst = [3, 4, 73, 45, 5, 64, 33, 5]
result = second_highest_number(lst)
print("The second highest number is:", result)

The second highest number is: 64