In [1]:
# find given sum from the list of numbers (pair)
# lst=[2,4,6,18,7,19,21]
# sum=13

lst=[2,3,10,12,1,19,21]
target=13
b=sorted(lst)   # [2,4,6,7,18,19,21]  # 2+21>target  remove (large value) 
                                      # 2+21<target  remove (small value)
for i in range(len(b)+1):
    if (b[0]+b[-1])>target:
        b.remove(b[-1])
    if (b[0]+b[-1])<target:
        b.remove(b[0])
    if (b[0]+b[-1])==target:
        print([b[0],b[-1]])
        break

[1, 12]

In [12]:
lst = [2, 3, 10, 12, 1, 19, 21]
target = 13
found = False  # Flag to track if a pair is found

for i in lst:
    for j in lst:
        if j >= i and i + j == target:
            print(i, j)
            found = True
            break  # Exit the inner loop
    if found:
        break  # Exit the outer loop if a pair is found

3 10

In [10]:
#given a list of integer , find largest subarray with fixed sum
nums=[5,8,-4,-2,6,-1,3,2]
target=7
b=sorted(nums)
for i in range(len(b)):
    total_sum=sum(b)
    if total_sum>target:
        b.remove(b[-1])
    if total_sum<target:
        b.remove(b[0])
    if total_sum==target:
        print(b)
        print("length of subarray : ",len(b))
        break

[-2, -1, 2, 3, 5]
length of subarray :  5

In [11]:
# sort the given list
lst=[10,15,4,23,0]
for i in range(len(lst)):
    for j in range(len(lst)-i-1):
        if lst[j]>lst[j+1]:
            lst[j],lst[j+1]=lst[j+1],lst[j]
print(lst)

[0, 4, 10, 15, 23]

In [13]:
# number with its index and value without e numerate function
lst=[10,15,4,23,0]
for i in range(len(lst)):
    print(i,end=' ')
    print(lst[i])

0 10
1 15
2 4
3 23
4 0

In [14]:
# number with its index and value with e numerate function
for index,value in enumerate(lst):
    print(index,value)

0 10
1 15
2 4
3 23
4 0

In [12]:
# Dictionary

In [13]:
# It contains key value pair
# it enclosed with curlybracates
# mutable and key should be unique 
# values may be duplicated
# key data type should be imutable

In [14]:
# define dictionary
dic={}
# syntax
dic={"key":"value"}

In [15]:
# create dictionry
dic={"name":"rohit","game":"cricket","age":37}
dic

{'name': 'rohit', 'game': 'cricket', 'age': 37}

In [16]:
# access dictionry items
dic["name"]

'rohit'

In [17]:
# update dictionary
dic["name"]="Rohit"
dic

{'name': 'Rohit', 'game': 'cricket', 'age': 37}

In [18]:
# add key value pair in dictionry
dic["Country"]="India"
dic

{'name': 'Rohit', 'game': 'cricket', 'age': 37, 'Country': 'India'}

In [20]:
# using get function we can access value from dictionary
dic.get("name")

'Rohit'

In [21]:
# access key and value from dictionary
for key,values in dic.items():
    print(key,"======>",values)

name ======> Rohit
game ======> cricket
age ======> 37
Country ======> India

In [23]:
# update dictionary
print(dic)
dic1={"salary":27000}
print(dic1)
dic.update(dic1)
print("updated dictionary : ",dic)

{'name': 'Rohit', 'game': 'cricket', 'age': 37, 'Country': 'India'}
{'salary': 27000}
updated dictionary :  {'name': 'Rohit', 'game': 'cricket', 'age': 37, 'Country': 'India', 'salary': 27000}

In [24]:
lst=[2,3,4,5]
dic={}
for i in lst:
    dic.update({i:i*i})
print(dic)

{2: 4, 3: 9, 4: 16, 5: 25}

In [25]:
lst=[2,3,4,5]
lst1=[4,9,16,25]
dic={}
for index,key in enumerate(lst):
    dic[key]=lst1[index]
print(dic)

{2: 4, 3: 9, 4: 16, 5: 25}

In [26]:
lst=[2,3,4,5]
lst1=[4,9,16,25]
dict(zip(lst,lst1))

{2: 4, 3: 9, 4: 16, 5: 25}

In [27]:
dic={'name': 'Rohit', 'game': 'cricket', 'age': 37, 'Country': 'India', 'salary': 27000}

In [28]:
dic

{'name': 'Rohit',
 'game': 'cricket',
 'age': 37,
 'Country': 'India',
 'salary': 27000}

In [29]:
# by using pop function
dic.pop("salary")
dic

{'name': 'Rohit', 'game': 'cricket', 'age': 37, 'Country': 'India'}

In [30]:
dic.popitem()

('Country', 'India')

In [31]:
dic

{'name': 'Rohit', 'game': 'cricket', 'age': 37}

In [32]:
dic.clear()

In [33]:
dic

{}

In [34]:
del dic

In [35]:
dic

NameError: name 'dic' is not defined

In [36]:
dic={'name': 'Rohit', 'game': 'cricket', 'age': 37, 'Country': 'India', 'salary': 27000}

In [37]:
dic

{'name': 'Rohit',
 'game': 'cricket',
 'age': 37,
 'Country': 'India',
 'salary': 27000}

In [15]:
# find occurance of each alphabet in string
str1="find occurance of each alphabet in string"
lst=list(str1)
print(lst)
dic={}
for i in lst:
    dic[i]=lst.count(i)
print(dic)

['f', 'i', 'n', 'd', ' ', 'o', 'c', 'c', 'u', 'r', 'a', 'n', 'c', 'e', ' ', 'o', 'f', ' ', 'e', 'a', 'c', 'h', ' ', 'a', 'l', 'p', 'h', 'a', 'b', 'e', 't', ' ', 'i', 'n', ' ', 's', 't', 'r', 'i', 'n', 'g']
{'f': 2, 'i': 3, 'n': 4, 'd': 1, ' ': 6, 'o': 2, 'c': 4, 'u': 1, 'r': 2, 'a': 4, 'e': 3, 'h': 2, 'l': 1, 'p': 1, 'b': 1, 't': 2, 's': 1, 'g': 1}

In [42]:
# find occurance of each alphabet in string
str1="find occurance of each $%$ 566273 alphabet in string"
lst=list(str1)
# print(lst)
dic={}
for i in lst:
    if i.isalpha()==True:
        dic[i]=lst.count(i)
print(dic)

{'f': 2, 'i': 3, 'n': 4, 'd': 1, 'o': 2, 'c': 4, 'u': 1, 'r': 2, 'a': 4, 'e': 3, 'h': 2, 'l': 1, 'p': 1, 'b': 1, 't': 2, 's': 1, 'g': 1}

In [43]:
lst=[2,3,4,5]
cube={i:i**3 for i in lst}
cube

{2: 8, 3: 27, 4: 64, 5: 125}

In [44]:
lst=[2,3,4,5]
cube={}
for i in lst:
    cube.update({i:i**3})
print(cube)

{2: 8, 3: 27, 4: 64, 5: 125}

In [45]:
lst=[2,3,4,5]
cube={i:i**3 for i in lst if i%2==0}
cube

{2: 8, 4: 64}

In [51]:
# longest substring without repeating alphabet
def longest_substring(s):
    s1=""
    for i in s:
        if i not in s1:
            s1+=i
    print(s1)
            
            
s="qaart"
longest_substring(s)

qart

In [48]:
sales_data={"Tata":{"jan":100,
                   "feb":150,
                   "mar":265},
            "Mahindra":{"jan":200,
                   "feb":50,
                   "mar":234},
            "Scoda":{"jan":60,
                   "feb":130,
                   "mar":165}}
def calculate_total_sales(company):
    if company in sales_data:
        total_sales=sum(sales_data[company].values())
        print(f"Total sales of {company} : {total_sales}")
    else:
        print(f"{company} is not found in database.")
        
def main():
    company=input("enter the company name : ")
    calculate_total_sales(company)
    
if __name__=="__main__":
    main()

enter the company name :  Kia

Kia is not found in database.