In [14]:
# find given sum from the list of numbers (pair)
# lst=[2,4,6,18,7,19,21]
# sum=13

lst1=[2,4,6,18,7,19,21]
lst=sorted(lst1)
sum1=9
for i in range(len(lst)+1):
    if (lst[0]+lst[-1])>sum1:
        lst.remove(lst[-1])
    if (lst[0]+lst[-1])<sum1:
        lst.remove(lst[0])
    if (lst[0]+lst[-1])==sum1:
        print(lst[0]+lst[-1])
        break

9

In [20]:
# #given a list of integer , find largest subarray with fixed sum
# nums=[5,8,-4,-2,6,-1,3,2]
# target=7

nums=[5,8,-4,-2,6,-1,3,2]
b=sorted(nums)
target=7

for i in range(len(b)):
    total_sum=sum(b)
    if total_sum>target:
        b.remove(b[-1])
    if total_sum<target:
        b.remove(b[0])
    if total_sum==target:
        print(b)
        print('Length of list is :',len(b))
        break

[-2, -1, 2, 3, 5]
Length of list is : 5

In [43]:
# number with its index and value without e numerate function
lst=[10,15,4,23,0]
for i in range(len(lst)):
    print(i,end=' ')
    print(lst[i])

0 10
1 15
2 4
3 23
4 0

In [40]:
# number with its index and value with e numerate function
for index,value in enumerate(lst):
    print(index,value)

0 10
1 15
2 4
3 23
4 0

In [44]:
lst=[10,15,4,23,0]

for i in range(len(lst)):
    for j in range (len(lst)-i-1):
        if lst[j]>lst[j+1]:
            lst[j],lst[j+1]=lst[j+1],lst[j]
print(lst)

[0, 4, 10, 15, 23]

In [48]:
# longest substring without repeating alphabet
def longest_substring(str1):
    s=''
    for i in str1:
        if i not in s:
            s+=i
    print(s)
str1=input('Enter your string')
longest_substring(str1)

Enter your stringlongest substring without repeating alphabet
longest ubriwhpa

In [56]:
sales_data={'Tata':{'jan':100,
                   'feb':150,
                   'march':265},
           'Mahindra':{'jan':60,
                      'feb':130,
                      'march':165},
           'Scoda':{'jan':200,
                   'feb':50,
                   'march':234}}

def calculate_total_sales(company):
    if company in sales_data:
        total_sales=sum(sales_data[company].values())
        print(f'Total sales of {company} is {total_sales}')
    else:
        Print(f'company {company} is not present')

def cod():
    company=input("enter the company name : ")
    calculate_total_sales(company)

    
if __name__=='__main__':
     cod()

enter the company name : Tata
Total sales of Tata is 515

In [7]:
# python program to remove vowels from the string 
# taking the input string from the user.

s=input('Enter your string')
s1=''
for i in s:
    if i not in 'aeiou':
        s1+=i
print(s1)

Enter your stringdata science
dt scnc

In [17]:
# python program to replace vowels with special char ($)
string=input("enter string : ")
vowels=list("aeiou")
result=""
for i in string:
    if i in vowels:
        i="$"
    result+=i
print(result)

enter string : data science
d$t$ sc$$nc$

In [23]:
# python program to remove repeated characters from the string by using set
str1=input('Please put string :')
set1=set()
str2=''
for char in str1:
    if char not in set1:
        set1.add(char)
        str2+=char
print('removed characters are',set1)
print('string after removed',str2)

Please put string :data science
removed characters are {'s', ' ', 'n', 'i', 'e', 'a', 't', 'c', 'd'}
string after removed dat scien

In [28]:
# python program to remove repeated characters from the string by using list
str1=input('Please put string :')
lst1=[]
str2=''
for char in str1:
    if char not in lst1:
        lst1.append(char)
        str2+=char
print('removed characters are',lst1)
print('string after removed',str2)

Please put string :data science
removed characters are ['d', 'a', 't', ' ', 's', 'c', 'i', 'e', 'n']
string after removed dat scien

In [29]:
# python program to remove repeated characters from the string by using list
str1=input('Please put string :')
lst1=[]
str2=''
for char in str1:
    if char not in lst1:
        lst1.append(char)
        str2=''.join(lst1)
print('removed characters are',lst1)
print('string after removed',str2)

Please put string :data science
removed characters are ['d', 'a', 't', ' ', 's', 'c', 'i', 'e', 'n']
string after removed dat scien

In [40]:
# python program to count vowels and consonent in string
# taking input from the user
str1=input('Enter your string ')
vowels=0
cons=0
for i in str1:
    if i in list('aeiou'):
        vowels+=1
    elif i.isalpha():
        cons+=1
print(vowels)
print(cons)

Enter your string data science
5
6

In [49]:
# check string is a palendrome or not and give output as true or false
str1=input('Enter your string :')
s=str1.lower()
for i in str1:
    if i.isalnum():
        print(s==s[::-1])
        break

Enter your string :madam
True

In [54]:
# check string is a palendrome or not
str1=input('Enter your string :')
s=str1.lower()
for i in str1:
    if s==s[::-1]:
        print('it is palindrome ',s)
        break
    else:
        print('it is not a palindrome ',s)
        break

Enter your string :madaam
it is not a palindrome  madaam

In [68]:
# find even and odd number count in given range
even=[]
odd=[]
start=int(input("enter start number : "))
end=int(input("enter end number : "))
for i in range(start,end):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print("number of even numbers : ",len(even))
print("number of odd numbers : ",len(odd))

enter start number : 12
enter end number : 100
number of even numbers :  44
number of odd numbers :  44

In [69]:
# find even and odd numbers by given user input
even=[]
odd=[]
start=int(input("enter start number : "))
end=int(input("enter end number : "))
for i in range(start,end):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print("number of even numbers : ",even)
print("number of odd numbers : ",odd)

enter start number : 12
enter end number : 100
number of even numbers :  [12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
number of odd numbers :  [13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [73]:
# find even and odd numbers by given list
list1 = [2, 1, 334, 54, 66, 75, 6, 7]
even = []
odd = []

for num in list1:  # Iterate over the elements in the list, not indices
    if num % 2 == 0:
        even.append(num)
    else:
        odd.append(num)

print("Even numbers:", even)
print("Odd numbers:", odd)

Even numbers: [2, 334, 54, 66, 6]
Odd numbers: [1, 75, 7]

In [75]:
lst1 = [16, 25, 36, 77777, 3, 4, 77777, 5, 6]
lst1.index(77777) # first occurence

3

In [80]:
lst1 = [16, 25, 36, 77777, 3, 4, 77777, 5, 6]
lst1.index(77777,lst1.index(77777)+1) # second occurence

6

In [140]:
def longest_valid_parentheses1(s):
    lst=list(s)
    index1=[]
    for i in range(int(len(lst)/2)):
        if lst[0]=="(":
            index1.append(0)
            break
        else:
            lst.remove(lst[0])
    for i in range(int(len(lst)/2)):
        if lst[-1]==")":
            index1.append(len(lst))
            break
        else:
            lst.remove(lst[-1])
    if len(s)==0:
        print(0)
    else:
        print(len(lst)-1) 
    
s = "(()"
longest_valid_parentheses1(s)

2

In [142]:

# Examples:
s1 = "(()"
longest_valid_parentheses1(s1) # Output: 2

s2 = ")()())"
longest_valid_parentheses1(s2)  # Output: 4

s3 = ""
longest_valid_parentheses1(s3)  # Output: 0

2
4
0

In [10]:
lst=[12,3,4,5,6]
print(f'lst is {lst}')
print(id(lst))
lst.sort()
print(lst)
print(id(lst))

lst is [12, 3, 4, 5, 6]
1954409872640
[3, 4, 5, 6, 12]
1954409872640

In [13]:
lst=[2,3,4,56,78,90]
ipt=int(input('enter your number :'))
if ipt in lst:
    print("index of", ipt, "is present and index is :", lst.index(ipt))
else:
    print("index of", ipt, "is not present")

enter your number :78
index of 78 is present and index is : 4

In [22]:
# fibonacci of number 12
num=12
first=0
second=1
for i in range(num+1):
    new=first+second
    first=second
    second=new
    print(new)

1
2
3
5
8
13
21
34
55
89
144
233
377

In [12]:
# check longest valid paranthesis

# Given a string containing just the characters '(' and ')', return the length of the longest valid (well-formed) parentheses 
# substring.
# Example 1:
# ==========
# Input: s = "(()"
# Output: 2
# Explanation: The longest valid parentheses substring is "()".
# Example 2:
# ==========
# Input: s = ")()())"
# Output: 4
# Explanation: The longest valid parentheses substring is "()()".
# Example 3:
# =========
# Input: s = ""
# Output: 0


def longest_valid_paranthesis(s):
    lst=list(s)
    index1=[]
    for i in range(len(lst)):
        if lst[0]=="(":
            index1.append(lst.index("("))
            break
        else:
            lst.remove(lst[0])
    for i in range(len(lst)):
        if lst[-1]==")":
            index1.append(len(lst))
            break
        else:
            lst.remove(lst[-1])
    if len(s)==0:
        print(0)
    else:
        print(len(lst)-1)
 


s=")()())"
longest_valid_paranthesis(s)

4

In [6]:
s = "(()"
longest_valid_paranthesis(s)

2

In [1]:

def longest_valid_paranthesis(s):
    lst=list(s)
    index1=[]
    for i in range(len(lst)):
        if lst[0]=="(":
            index1.append(lst.index("("))
            break
        else:
            lst.remove(lst[0])
    for i in range(len(lst)):
        if lst[-1]==")":
            index1.append(len(lst))
            break
        else:
            lst.remove(lst[-1])
    if len(s)==0:
        print(0)
    else:
        print(len(lst)-1)

In [2]:
s=")()())"
longest_valid_paranthesis(s)

4

In [48]:
# python program for trigram
str1="""ISRO Chandrayaan 3 Moon Landing Live Updates: Isro’s third lunar mission 
Chandrayaan-3 made a soft-landing on the Moon on Wednesday. With this, 
India joined the short list of countries in the world to 
land a rover on the Moon."""

lst=[]
lst1=str1.split()
a=len(lst1)
print(a)
for i in range(len(lst1)-2):
    lst.append(lst1[i]+" "+lst1[i+1]+" "+lst1[i+2])
print(lst)

39
['ISRO Chandrayaan 3', 'Chandrayaan 3 Moon', '3 Moon Landing', 'Moon Landing Live', 'Landing Live Updates:', 'Live Updates: Isro’s', 'Updates: Isro’s third', 'Isro’s third lunar', 'third lunar mission', 'lunar mission Chandrayaan-3', 'mission Chandrayaan-3 made', 'Chandrayaan-3 made a', 'made a soft-landing', 'a soft-landing on', 'soft-landing on the', 'on the Moon', 'the Moon on', 'Moon on Wednesday.', 'on Wednesday. With', 'Wednesday. With this,', 'With this, India', 'this, India joined', 'India joined the', 'joined the short', 'the short list', 'short list of', 'list of countries', 'of countries in', 'countries in the', 'in the world', 'the world to', 'world to land', 'to land a', 'land a rover', 'a rover on', 'rover on the', 'on the Moon.']

In [57]:
str1="""ISRO Chandrayaan 3 Moon Landing Live Updates: Isro’s third lunar mission 
Chandrayaan-3 made a soft-landing on the Moon on Wednesday. With this, 
India joined the short list of countries in the world to 
land a rover on the Moon."""

def tri_gram(str1):
    
    a=str1.split()
    lst=[]
    for i in range(len(a)):
        if len(a)>=3:
            lst.append(' '.join(a[:3]))
            a.pop(0)
    print(lst)
            
tri_gram(str1)

['ISRO Chandrayaan 3', 'Chandrayaan 3 Moon', '3 Moon Landing', 'Moon Landing Live', 'Landing Live Updates:', 'Live Updates: Isro’s', 'Updates: Isro’s third', 'Isro’s third lunar', 'third lunar mission', 'lunar mission Chandrayaan-3', 'mission Chandrayaan-3 made', 'Chandrayaan-3 made a', 'made a soft-landing', 'a soft-landing on', 'soft-landing on the', 'on the Moon', 'the Moon on', 'Moon on Wednesday.', 'on Wednesday. With', 'Wednesday. With this,', 'With this, India', 'this, India joined', 'India joined the', 'joined the short', 'the short list', 'short list of', 'list of countries', 'of countries in', 'countries in the', 'in the world', 'the world to', 'world to land', 'to land a', 'land a rover', 'a rover on', 'rover on the', 'on the Moon.']

In [82]:
# find second highest number
lst=[3,4,73,45,5,64,33,5]
for i in lst:
    lst1=list(sorted(lst,reverse=True))
    print(lst1[1:2])
    break

[64]

In [85]:
a=20
b=30

In [86]:
print(id(a))
print(id(b))

1728898493328
1728898493648

In [87]:
a=20
b=20

In [88]:
print(id(a))
print(id(b))

1728898493328
1728898493328

In [90]:
import keyword

In [91]:
len(keyword.kwlist)

36

In [94]:
marks=int(input(f"enter your marks :"))
if marks<40:
    print("Your marks are",marks,"so your failed")
else:
    print(f"your marks are {marks}, so you are passed")

enter your marks :40
your marks are 40, so you are passed

In [96]:
x=0
while x<25:
    x+=1
    print(x)
    x+=1

1
3
5
7
9
11
13
15
17
19
21
23
25

In [101]:
# reverse the string
a=123456789
b=str(a)
for i in b:
    print(b[::-1])
    break

987654321

In [107]:
b[::-1]

'987654321'

In [109]:
123456789%10

9

In [110]:
123456789//10

12345678

In [147]:
# reverse the string without reverse function
s=123456789
lst=[]
for i in range(len(str(s))):
    lst.append(s%10)
    s//=10
print(f'list of reverse number is {lst}') 

b=''
for j in lst:
    b+=str(j)
print('inter reverse numbers are',int(b))

list of reverse number is [9, 8, 7, 6, 5, 4, 3, 2, 1]
inter reverse numbers are 987654321

In [24]:
# reverse the number without reverse function
s=123456789
reverse=0
for i in range(len(str(s))):
    reverse=reverse*10+s%10 
    s//=10
print(f'list of reverse number is',reverse)

list of reverse number is 987654321

In [159]:
# prime number or not
a=int(input('enter your number '))
if a<=1:
    print('enter valid number')

for i in range(2,a):
    if a%i==0:
        print('number is not prime')
        break
else:
    print('number is prime')

enter your number 21
number is not prime

In [161]:
# even and odd numbers
lst=[3,4,73,45,5,64,33,5]
even=[]
odd=[]

for i in lst:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
        
print('list of even number is',even)
print('list of odd number is',odd)

list of even number is [4, 64]
list of odd number is [3, 73, 45, 5, 33, 5]

In [6]:
# Amstrong number means suppose we taken 153 so length of 153 is 3 so that 3 will be power  of every value like 1**3,5**3,3**3
# and we do addition of it and that addition will  be 153 so we can say its armstrong number.

# check number is a amstrong or not 
num=153
j=num
num1=len(str(num))
sum1=0
for i in range(num1):
    dig=num%10
    sum1+=dig**num1
    num//=10
if j==sum1:
    print('given number is amstrong number')
else:
    print('given number is not amstrong number')

given number is amstrong number

In [10]:
# palindrome number is that number if we read that number at left to right or right to left it will come same output like 121.

# python program to check the given number is a palindrome or not by using iterative method

num=121
reverse,temp=0,num
for i in range(len(str(num))):
    reverse=reverse*10+num%10
    num//10
if reverse==num:
    print('given number is palindrome')
else:
    print(f'given number is not palindrome')

given number is not palindrome

In [6]:
121//10

12

In [7]:
121%10

1

In [33]:
# if we have 2 strings and if those 2 strings after sorted those string output comes same then it will b anagram it means same
# characters should be in those 2 strings.

# python code for to check anagram

a1='python'
a2='nothyp'
def check_anagram(a1,a2):
    if (sorted(a1))==sorted(a2):
        return True
    else:
        return False
check_anagram(a1,a2)

True

In [51]:
# python program for trigram
str1="""ISRO Chandrayaan 3 Moon Landing Live Updates: Isro’s third lunar mission 
Chandrayaan-3 made a soft-landing on the Moon on Wednesday. With this, 
India joined the short list of countries in the world to 
land a rover on the Moon."""
a=str1.split()
b=[]
for i in range(len(a)):
    if len(a)>=3:
        b.append(' '.join(a[:3]))
        a.pop(0)
print(b)
print()
print('***********************************')
print()
c=''
for j in b:
    c+=j
print('trigram string is >> ',c)

['ISRO Chandrayaan 3', 'Chandrayaan 3 Moon', '3 Moon Landing', 'Moon Landing Live', 'Landing Live Updates:', 'Live Updates: Isro’s', 'Updates: Isro’s third', 'Isro’s third lunar', 'third lunar mission', 'lunar mission Chandrayaan-3', 'mission Chandrayaan-3 made', 'Chandrayaan-3 made a', 'made a soft-landing', 'a soft-landing on', 'soft-landing on the', 'on the Moon', 'the Moon on', 'Moon on Wednesday.', 'on Wednesday. With', 'Wednesday. With this,', 'With this, India', 'this, India joined', 'India joined the', 'joined the short', 'the short list', 'short list of', 'list of countries', 'of countries in', 'countries in the', 'in the world', 'the world to', 'world to land', 'to land a', 'land a rover', 'a rover on', 'rover on the', 'on the Moon.']

***********************************

trigram string is >>  ISRO Chandrayaan 3Chandrayaan 3 Moon3 Moon LandingMoon Landing LiveLanding Live Updates:Live Updates: Isro’sUpdates: Isro’s thirdIsro’s third lunarthird lunar missionlunar mission Chandrayaan-3mission Chandrayaan-3 madeChandrayaan-3 made amade a soft-landinga soft-landing onsoft-landing on theon the Moonthe Moon onMoon on Wednesday.on Wednesday. WithWednesday. With this,With this, Indiathis, India joinedIndia joined thejoined the shortthe short listshort list oflist of countriesof countries incountries in thein the worldthe world toworld to landto land aland a rovera rover onrover on theon the Moon.